{% extends 'base.html.twig' %}

{% block title %}Player{% endblock %}

{% block body %}
    <h1 style="text-align: center">{{ player.name}}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th style="text-align: center">Age</th>
                <td style="text-align: center">{{ player.age }}</td>
            </tr>
            <tr>
                <th style="text-align: center">Nationality</th>
                <td style="text-align: center">{{ player.nationality }}</td>
            </tr>
            <tr>
                <th style="text-align: center">Position</th>
                <td style="text-align: center">{{ player.role }}</td>
            </tr>
        </tbody>
    </table>

<button class="btn custom-button" style="text-align: center"> <a href="{{ path('app_team_show', { 'id':player.team.id}) }}" class="custom-link-button">Back to list</a></button>

    <button class="btn custom-button"> <a href="{{ path('app_player_edit', {'id': player.id}) }}" class="custom-link-button">Edit</a></button>

    {{ include('player/_delete_form.html.twig') }}
{% endblock %}
