{% extends 'base.html.twig' %}

{% block title %}Team{% endblock %}

{% block body %}
    <h1 style="text-align: center;margin-top: 30px;margin-bottom: 20px">{{ team.name }}</h1>

    <table class="table">
        <thead>
        <th style="text-align: center;">Creation Date</th>
        <th style="text-align: center;">Coach</th>
        <th style="text-align: center;">National Title</th>
        <th style="text-align: center;">Players</th>
        <th style="text-align: center;">Sponsors</th>

        </thead>
        <tbody>
            <td style="text-align: center;">{{ team.creationDate ? team.creationDate|date('Y-m-d') : '' }}</td>
             <td style="text-align: center;">{{ team.coach }}</td>
             <td style="text-align: center;">{{ team.nationalTitle }}</td>
            <td style="text-align: center;">
                {% if team.players|length == 0 %}
                <ul style="list-style: none;">
                    <li>No Players</li>
                </ul>
                {% else %}
                <table style="width: 100%">
                    {% set avr=0 %}
                    {% for players in team.players %}
                        {% if avr is divisible by (2) %}
                        <tr>
                        <td>
                            <a href="{{ path('app_player_show', {'id': players.id}) }}" class="no_link">{{ players }}</a>
                        </td>
                        {% set avr=avr+1 %}

                        {% else %}
                            <td>
                                <a href="{{ path('app_player_show', {'id': players.id}) }}" class="no_link">{{ players }}</a>
                            </td>
                            {% set avr=avr+1 %}</tr>
                        {% endif %}
                    {% endfor %}
                    {% endif %}

                </table></td>
             <td style="text-align: center;">
                     {% if team.teamSponsors|length == 0 %}
                         <ul style="list-style: none;">
                             <li>No Sponsors</li>
                         </ul>
                     {% else %}

                         <ul style="list-style: none;">
                             {% for sponsors in team.teamSponsors %}
                                 <li>{{ sponsors }}</li>
                             {% endfor %}
                         </ul>
                     {% endif %}</td>
        </tbody>
    </table>
    <table class="table">
        <thead>
            <th style="text-align: center;">Total Points</th>
            <th style="text-align: center;">Total Goals</th>
            <th style="text-align: center;">Wins</th>
            <th style="text-align: center;">Losses</th>

        </thead>
        <tbody>
        <td style="text-align: center;">{{ team.point }}</td>
        <td style="text-align: center;">{{ team.goals }}</td>
        <td style="text-align: center;">{{ team.wins }}</td>
        <td style="text-align: center;">{{ team.losses }}</td>


        </tbody>
    </table>
      <button class="btn custom-button"><a href="{{ path('app_player_new') }}" class="custom-link-button">Add new player</a></button>
       <button class="btn custom-button"><a href="{{ path('app_team_index') }}" class="custom-link-button">Back to list</a></button>
       <button class="btn custom-button"> <a href="{{ path('app_team_edit', {'id': team.id}) }}" class="custom-link-button">Edit Team</a></button>


{{ include('team/_delete_form.html.twig') }}

{% endblock %}
