{% extends 'base.html.twig' %}

{% block title %}Team{% endblock %}

{% block body %}
    <h1>{{ team.name }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Creation Date</th>
                <td style="text-align: center;">{{ team.creationDate ? team.creationDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Coach</th>
                <td style="text-align: center;">{{ team.coach }}</td>
            </tr>
            <tr>
                <th>National Title</th>
                <td style="text-align: center;">{{ team.nationalTitle }}</td>
            </tr>
             <tr>
                 <th>Sponsors</th>
                 <td style="text-align: center;">
                     {% if team.teamSponsors|length == 0 %}
                         <ul style="list-style: none;">
                             <li>No Sponsors</li>
                         </ul>
                     {% else %}

                         <ul style="list-style: none;">
                             {% for sponsors in team.teamSponsors %}
                                 <li>{{ sponsors }}</li>
                             {% endfor %}
                         </ul>
                     {% endif %}</td>
             </tr>
        <tr>
            <th>Players</th>
            <td style="text-align: center;">
                {% if team.teamSponsors|length == 0 %}
                <ul style="list-style: none;">
                    <li>No Sponsors</li>
                </ul>
                {% else %}
            <ul style="list-style: none;">
                {% for players in team.players %}
                    <li>
            <a href="{{ path('app_player_show', {'id': players.id}) }}" >{{ players }}</a>
                    </li>
                {% endfor %}
            </ul>{% endif %}</td>
        </tr>
            <tr>
                <th>Points</th>
                <td style="text-align: center;">{{ team.point }}</td>
            </tr>
        </tbody>
    </table>

       <button class="btn custom-button"><a href="{{ path('app_team_index') }}" class="custom-link-button">Back to list</a></button>
       <button class="btn custom-button"><a href="{{ path('app_team_edit', {'id': team.id}) }}"class="custom-link-button">Edit</a></button>


{{ include('team/_delete_form.html.twig') }}

{% endblock %}
