{% extends 'base.html.twig' %}

{% block title %}Matches{% endblock %}

{% block body %}
    <h1 style="text-align: center;margin-bottom: 10px;margin-top: 10px">Matches</h1>

    <table class="table  table-striped">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ match.id }}</td>
            </tr>
            <tr>
                <th>Score1</th>
                <td>{{ match.score1 }}</td>
            </tr>
            <tr>
                <th>Score2</th>
                <td>{{ match.score2 }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ match.date ? match.date|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

<button class="btn custom-button"> <a href="{{ path('app_matches_index') }}" class="custom-link-button">Back to list</a></button>

    <button class="btn custom-button"><a href="{{ path('app_matches_edit', {'id': match.id}) }}" class="custom-link-button">Edit</a></button>

    {{ include('matches/_delete_form.html.twig') }}
{% endblock %}
