{% extends 'base.html.twig' %}

{% block title %}Sponsors{% endblock %}

{% block body %}

    <table class="table table-striped" style="margin-top: 30px">
        <thead>
            <tr>
                <th style="text-align: center;">Company</th>
                <th style="text-align: center;">Commercials appear on</th>
                <th style="text-align: center;">Sponsored Teams</th>
                <th style="text-align: center;">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sponsor in sponsors %}
            <tr>
                <td style="text-align: center;">{{ sponsor.name }}</td>
                <td style="text-align: center;">{{ sponsor.commercialZone }}</td>
                 <td style="text-align: center;">
                    {% if sponsor.teams|length == 0 %}
                     <ul style="list-style: none;">
                    <li>No Teams</li>
                     </ul>
                {% else %}
                    <ul style="list-style: none;">
                    {% for teamToShow in sponsor.teams %}
                        <li>{{teamToShow }}</li>
                      {% endfor %}
                    </ul>
                    {% endif %}</td>
                <td style="text-align: center;">
                    <ul style="list-style: none;">
                   <li> <a href="{{ path('app_sponsors_show', {'id': sponsor.id}) }}" class="no_link">see sponsor</a> </li>
                   <li> <a href="{{ path('app_sponsors_edit', {'id': sponsor.id}) }}" class="no_link">edit</a>  </li></ul>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">No records found</td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
    {#  <button class="btn custom-button"><a href="{{ path('app_sponsors_delete_all') }}" class="custom-link-button">Delete all sponsors</a> </button>#}
    <button class="btn custom-button"><a href="{{ path('app_sponsors_new') }}" class="custom-link-button">Add new sponsor</a> </button>
{% endblock %}
